* {
    margin: 10px;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: inherit;
}

.containerOne {
    display: flex;
    padding-bottom: 4rem;
}

.containerOne img {
    width: 30%;

}

.one {
    width: 40%;
}

.one h1,
.one p {
    padding-bottom: 20px;
    max-width: 500px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 900px;
}

.grid-item {

    color: #000000;
    padding: 20px;
    text-align: center;
}

.grid-item img {
    width: 100%;
}

.grid-dos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}


@media only screen and (max-width: 800px) {
    .containerOne {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 2rem;
    }

    .containerOne img {
        width: 100%;
        margin-bottom: 20px;
    }

    .one {
        width: 100%;
    }

    .grid, .grid-dos {
        grid-template-columns: repeat(1, 1fr); /* Cambia a una sola columna en pantallas más pequeñas */
        max-width: 100%;
    }
}